<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(183,75,210,1) 100%, rgba(252,70,107,1) 100%);">
<div th:each="el : ${fineNoteNotBold}">
    <form action="/info" method="post" style="position: absolute; padding-left: 1200px">
        <input type="hidden" th:value="${el.getId()}" name="info">
        <button type="submit" style=" border-top-left-radius: 500px; border-bottom-left-radius: 500px; border-top-right-radius: 500px;">info</button>
    </form>
    <h th:text="${'Name: ' + el.getNotes_name()}"/> <p th:text="${'Description: ' + el.getDescription()}"/> <p th:text="${'Date and time ready: ' + el.getTimeAndDate() + ' ' + el.getTime()}"/> <p th:text="${'Date create: ' + el.getCreateDate()}"/> <hr>
</div>

<div th:each="el : ${fineNoteBold}">
    <form action="/info" method="post" style="position: absolute; padding-left: 1200px">
        <input type="hidden" th:value="${el.getId()}" name="info">
        <button type="submit" style=" border-top-left-radius: 500px; border-bottom-left-radius: 500px; border-top-right-radius: 500px;">info</button>
    </form>
    Name: <b th:text="${el.getNotes_name()}"/> <p th:text="${'Description: ' + el.getDescription()}"/> <p th:text="${'Date and time ready: ' + el.getTimeAndDate() + ' ' + el.getTime()}"/> <p th:text="${'Date create: ' + el.getCreateDate()}"/> <hr>
</div>
</body>
</html>