<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(183,75,210,1) 100%, rgba(252,70,107,1) 100%);">
<div th:each="el : ${trashesNotBold}">
    <h th:text="${'Name: ' + el.getNotes_name()}"/> <p th:text="${'Description: ' + el.getDescription()}"/> <p th:text="${'Ready date and time: ' + el.getTimeAndDate() + ' ' + el.getTime()}"/> <p th:text="${'Date create: ' + el.getCreateDate()}"/> <hr>
</div>
<div th:each="el1 : ${trashesBold}">
    Name: <b th:text="${el1.getNotes_name()}"/> <p th:text="${'Description: ' + el1.getDescription()}"/> <p th:text="${'Ready date and time: ' + el1.getTimeAndDate() + ' ' + el1.getTime()}"/> <p th:text="${'Date create: ' + el1.getCreateDate()}"/> <hr>
</div>
<div th:text="${nothing}"/>
</body>
</html>